<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div id="nav">
        <nav class="style">
            <a href="/">ISM Alimentação e Serviços</a> |
            <a href="/cadastrar">Funcionarios</a> |
            <a href="">Entregas</a> |
            <a href="/funcionarios">Consultas</a>
        </nav>
    </div>
    {{{body}}}
</body>
</html>