<h1 style="text-align: center;">Você gostaria de ver os funcionários de qual unidade?</h1>
<div id="select_und">
    <form class="select" action="/funcionarios/filtro" method="POST">
        <select name="unidade" id="">
            <option value="sede">Sede</option>
        </select>
        <input type="submit" value="Pesquisar">
    </form>
</div>